extends layout

block content
  html
    body
      .container-fluid
        svg#example1(width='100%',height=300)
        table#split
        thead
        tbody
      script(type='text/javascript', src='javascripts/websocket.js')
      script(type='text/javascript', src='javascripts/graph.js')
      //script(type='text/javascript', src='javascripts/graphHumidity.js')
      script(type='text/javascript', src='javascripts/table.js')
