doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js', charset='utf-8')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', charset='utf-8')
    script(src='https://d3js.org/d3.v4.min.js', charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    textarea#out(rows='1', cols='15')
    .jumbotron
      .container
        h2 The Ticker Plant
        h4 Realtime Hydroponics analytics
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js', charset='utf-8')
  body
    block content
  footer
    p Tom K 2017
    
