body {
  background-color:#564256;
  color:#A5BE00;
}

.jumbotron {
  background-color:#D0E3C4;
  color:#564256;
}
.x.axis text{
//fill:black;
 fill:#A5BE00;
}
.x.axis line{
//stroke:black;
 stroke:#A5BE00;
}
.y.axis text{
 fill:#A5BE00;
}
svg text{
 //fill:white;
 fill:#A5BE00;
}
h2{
  margin-left:2cm;
}
h4{
  margin-left:3cm;
}
table{
  border: 1px solid black;
  width:700px;
  margin-left:1cm;
  padding=15px;
}
th,td{
margin-left=1cm;
padding=15px;
border-bottom:1px solid #ddd;
}
th{background-color: #679436;color: #D0E3C4;}
tr:hover {background-color: #f5f5f5}
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #D0E3C4;
  padding: 25px;
  color:#564256;
}
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }

.cover {
position: fixed; 
height: 100%; 
width: 100%; 
top:0; 
left: 0; 
background: #564256; 
//z-index:9999;
}


.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #A5BE00;
  border-radius: 50%;
  border-top: 16px solid #FC814A;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

video {
  max-width: 100%;
  height: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.column video {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
